* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Navigation Bar */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #7090ae;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.app_logo{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 250%;
    padding: 20px;
  }

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}

.navbar li{
    display: flex;
    padding: 0 20px 0 20px;
    align-items: center;
    font-size: 120%;
}

.navbar a{
    text-decoration: none;
}

/* Submission form */
.submission_container{
    display: flex;
    flex-direction: column;
    width: 20%;
    background: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}


.submission_container input,
.submission_container textarea {
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }

.submission_container label {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    width: 50%;
}

.submit-btn{
    margin: 10px;
}

/* All Opportunities Container */
.all_opportunities_container{
    display: flex;
    flex-flow: row wrap;
    width: 75%;
}

/* Opportunity Card */

.opportunity_card{
    display: flex;
    flex-direction: column;
    width: 20%;
    background: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}